/* ================================
   Root Variables and Global Reset
=================================== */

:root {
    --font-heading: 'PT Sans', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
    --primary: #d4af37;
    --light: #f5f5f5;
    --white: #fff;
    --black: #000;
}

/* === Reset margins and paddings === */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-paragraphs), sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--black);
    color: var(--white);
}

/* ======================
   Typography and Layout
======================== */

h1, h2, h3, h4 {
    font-family: var(--font-heading), sans-serif;
    line-height: 1.2;
}

h1 {font-size: 4.5rem;}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: var(--primary);
}
h3 {font-size: 3.5rem;}
h4 {font-size: 2.5rem;}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    max-width: 100%;
    border-radius: 20px;
    border: 3px solid var(--primary);
}

ul {list-style: none;}

/* ==========================
   Utility and Helper Classes
=========================== */

.center-column-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.padding_2 {padding: 2rem 0;}
.padding_5 {padding: 5rem 0;}
.margin_3 {margin: 3rem 0;}
.margin_bot_2 {margin-bottom: 2rem;}

/* ====================
    Layout Containers
==================== */

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* ====================
        Header
==================== */

.header {
    background-color: var(--primary);
    color: var(--black);
    border-bottom: 2px solid var(--white);
}

/* === Bar === */
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 3rem 0;
}

.bar a:hover {
    font-weight: bold;
    color: var(--light);
    text-decoration-line: underline;
    transition: all 0.2s ease-in-out;
}

/* === Logo === */
.logo {
    text-transform: uppercase;
}

.logo-title {
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

/* === Navigation === */
.navigation {font-size: 2rem;}
.navigation a {padding: 0 3rem;}

/* === Title === */
.title {padding-bottom: 5rem;}

.title p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}


/* ====================
        Main
==================== */

/* ====================
   About Me Section
==================== */
.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    gap: 5rem;
    margin-top: 10rem;
}

/* === Photo === */
.about-me-photo {
    width: 100%;
}

/* === Text === */
.about-me-text {
    line-height: 1.8;
}

.about-me-text h2, .about-me-skills h3, .social-links h4 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--primary);
}

.about-me-text p {
    font-size: 2rem;
    text-align: justify;
}

/* === Social Links === */
.social-links {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    gap: 2rem;
    border: 3px solid var(--primary);
    border-radius: 20px;
}

.social-links h4 {
    color: var(--white);
}

.social-links a {
    padding: 0 3rem;
    color: var(--primary);
    font-weight: bold;
}

.social-links a:hover {
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.social-links i {
    margin-right: 3rem;
    font-size: 3rem;
    color: var(--white);
}

.social-links i:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

/* === Skills === */
.about-me-skills {
    grid-column: 2/2;
    grid-row: 2/4;
    padding: 2rem 0;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-list ul li {
    padding: 3rem 0;
    font-size: 2rem;
    text-align: start;
}

.skills-list ul li i {
    font-size: 5rem;
    padding-right: 5rem;
    color: var(--primary);
}

/* ====================
   My Projects Section
==================== */
.projects {
    margin: 7rem 0;
}

/* === Projects Table === */
.table {
    border-radius: 2px;
    border-collapse: collapse;
    font-size: 2rem;
    background-color: var(--black);
    color: var(--light);
    overflow: hidden;
}

.table th,
.table td {
    padding: 1rem;
    text-align: center;
    border: 3px solid var(--light);
}

.table th {
    background-color: var(--primary);
    color: var(--black);
    font-weight: bold;
}

.table a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
}

.table a:hover {
    text-decoration: underline;
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

/* === Subprojects === */
.subproject {
    border: 3px solid var(--primary);
    padding: 2rem;
}

.subproject h3 {
    text-align: center;
    color: var(--primary);
}

.subproject img {
    width: auto;
}

.subproject img:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    border: 3px solid var(--white)
}

.subproject-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 2rem;
    text-align: justify;
}

/* ====================
      Contact Section
==================== */
.contact {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 0.8fr 1.3fr;
    gap: 0 10rem;
}

.contact-title {
    grid-column: 1/3;
}

/* === Contact Information === */
.contact-info {
    display: grid;
    grid-column: 1/2;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.contact-info ul li {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.contact-info ul li i {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: var(--primary);;
}

/* === Contact Form === */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.form input, textarea {
    padding: 2rem 1rem;
    font-size: 1.5rem;
    border: 1px solid var(--light);
    border-radius: 5px;
}

.form button {
    margin-top: 1rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--black);
    cursor: pointer;
}

.form button[type="submit"]:hover {
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

/* ====================
        Footer
==================== */

.footer {
    padding: 1rem 0;
    background-color: var(--primary);
    color: var(--black);
    border-top: 2px solid var(--white);
}

