/* ================================
   Root Variables and Global Reset
=================================== */

:root {
    --font-heading: 'PT Sans', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
    --primary: #d4af37;
    --light: #f5f5f5;
    --white: #fff;
    --black: #000;
}

/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px for easier rem scaling */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-paragraphs), sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--black);
    color: var(--white);
}

/* ======================
   Typography and Layout
======================== */

h1, h2, h3, h4 {
    font-family: var(--font-heading), sans-serif;
    line-height: 1.2;
}

h1 {font-size: 4.5rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3.5rem;}
h4 {font-size: 2.5rem;}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    max-width: 100%;
    border-radius: 20px;
    border: 3px solid var(--primary);
}

ul {list-style: none;}

/* ==========================
   Utility and Helper Classes
=========================== */

.center-column-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ====================
    Layout Containers
==================== */

.container_1, .container_2 {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.container_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
}

/* ====================
        Header
==================== */

.header {
    background-color: var(--primary);
    color: var(--black);
    border-bottom: 2px solid var(--white);
}

/* Bar */
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 3rem 0;
}

.bar a:hover {
    font-weight: bold;
    color: var(--light);
    text-decoration-line: underline;
    transition: all 0.2s ease-in-out;
}

/* Logo */
.logo {
    text-transform: uppercase;
}

.logo h3 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

/* Navigation */
.navigation {font-size: 2rem;}
.navigation a {padding: 0 3rem;}

/* Title */
.title {
    padding-bottom: 5rem;
}

/* ====================
        Main
==================== */

/* ====================
   About Me Section
==================== */
.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 5rem;
    margin-top: 10rem;
}

/* Photo */
.about-me-photo {
    width: 100%;
    padding: 2rem 0;
}

/* Text */
.about-me-text {
    line-height: 1.8;
    padding: 2rem 0;
}

.about-me-text p {
    margin-bottom: 2rem;
}

.about-me-text h2, .about-me-skills h3, .social-links h4 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--primary);
}

.about-me-text p {
    font-size: 2rem;
    text-align: justify;
}

/* Social Links */
.social-links {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    border: 3px solid var(--primary);
    border-radius: 20px;
}

.social-links h4 {
    color: var(--white);
}

.social-links a {
    padding: 0 3rem;
    color: var(--primary);
    font-weight: bold;
}

.social-links a:hover {
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.social-links i {
    margin-right: 3rem;
    font-size: 3rem;
    color: var(--white);
}

.social-links i:hover {
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

/* Skills */
.about-me-skills {
    grid-column: 2/2;
    grid-row: 2/4;
    padding: 2rem 0;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.skills-list ul li {
    padding: 3rem 0;
    font-size: 2rem;
    text-align: start;
}

.skills-list ul li i {
    font-size: 5rem;
    padding-right: 5rem;
    color: var(--primary);
}

/* ====================
   My Projects Section
==================== */




/* ====================
   Footer
==================== */

.footer {
    padding: 1rem 0;
    background-color: var(--primary);
    color: var(--black);
    border-top: 2px solid var(--white);
}



















